@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

body {
  margin: 0;
  padding: 40px;
  overflow-y: auto;
}

.filters-parent {
  margin-bottom: 24px;
}

.filters,
.filters-parent {
  display: flex;
  gap: 16px;
  align-items: center;
}

.list-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
}

.list-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  align-items: baseline;
  gap: 40px;
  height: 100svh;
}

.event-card {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 20px;
  padding: 20px;
  box-shadow: 0px 0px 1px 0px #091e424f;

  > div {
    display: grid;
    gap: 20px;
  }
}

.see-details {
  text-decoration: underline;
}

.modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 10;
  display: none;
  align-items: center;
  justify-content: center;
}

.modal-card {
  border-radius: 4px;
  padding: 24px;
  background-color: white;
  min-width: 500px;
  max-width: 50vw;
  max-height: 95vh;
  box-shadow: 0px 4.8px 14.4px rgba(0, 0, 0, 0.18),
    0px 25.6px 57.6px rgba(0, 0, 0, 0.22);
}

.modal-header {
  margin-bottom: 28px;
}
.modal-close {
  font-size: 24px;
  line-height: 20px;
}

.modal-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.4px;
  text-overflow: ellipsis;
}

.modal-content {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
}

.title {
  font-weight: 600;
}

.cursor-pointer {
  cursor: pointer;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.inset-0 {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media (max-width: 639px) {
  body {
    padding: 20px;
  }

  .modal-card {
    min-width: unset;
    max-width: unset;
    max-height: unset;
    width: 100%;
  }

  .modal-content,
  .list-container,
  .event-card {
    gap: 20px;
    grid-template-columns: unset;
  }

  .modal-content,
  .event-card {
    gap: 16px;
  }

  .filters-parent {
    display: grid;
  }
}
